.slds-table thead tr th {
    color: #000;
    font-weight: 500;
    padding: 10px 0px;
} 
.applnTable thead tr th div {
    display: block;
    text-align: center;
}
.applnTable tbody tr td {
    text-align: left;
	padding-left: 1.5rem;
}
.applnTable tbody tr td:last-child {
    text-align: right;
	padding-right: 1.5rem;
}
.payBtn {
    width: 16%;
    float: right;
}